<header class="header-container grid w-auto h-auto md:h-8rem lg:8-rem align-items-center align-content-center">
  <div class="col-12 md:col-3 lg:col-3" >
    <div class="flex gap-4 justify-content-center md:justify-content-start lg:justify-content-start align-items-center" >
      <img src="../../../assets/logo.svg" alt="Logo">
      <h1 class="title">FitHouse</h1>
    </div>
  </div>
  <div class="col-12 md:col-9 lg:col-9">
    <div class="flex gap-5 justify-content-center md:justify-content-end lg:justify-content-end align-items-center" >
      <button 
        pButton 
        pRipple 
        label="Iniciar Sesión" 
        class="btn-login text-lg md:text-2xl lg:text-2xl md:font-semibold lg:font-semibold">
      </button>
      <button 
        pButton 
        pRipple 
        label="Crear Cuenta" 
        class="btn-create-account text-lg md:text-2xl lg:text-2xl font-medium md:font-semibold lg:font-semibold">
      </button>
    </div>
  </div>
</header>
