.header-container {
  padding: 32px 120px;
  background: #18A0B0;
}

.title{
  color: #EFEFEF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}



:host ::ng-deep {
  .btn-login{
      padding: 11px 24px;
      border-radius: 16px;
      border: 1px solid #EFEFEF;
      background: transparent;
      color: #EFEFEF;
  }
  .btn-create-account{
    padding: 11.5px 24px;
    border-radius: 16px;
    background: #09363B;
    color: #EFEFEF;
    border-style: none;
  }
}