<header>
  <h1>Header</h1>
  <script
    src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
    type="module"
  ></script>

  <iframe
    src="https://lottie.host/embed/465e5541-b9ba-447c-b8ec-8f6bb7180242/E7xNoZzXE0.json"
  ></iframe>

  <!-- https://app.lottiefiles.com/animation/92357dfe-f1e7-40ec-92f0-b69656006041?panel=embed -->
  <!-- <dotlottie-player
    src="https://lottie.host/465e5541-b9ba-447c-b8ec-8f6bb7180242/E7xNoZzXE0.json"
    background="transparent"
    speed="1"
    style="width: 300px; height: 300px"
    loop
    autoplay
  ></dotlottie-player> -->
</header>
