@import "primeflex/primeflex.scss";
@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;700&display=swap");
@import "variables";

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  height: 100%;
}

main {
  display: block;
  // height: 100vh !important;
  flex: 1;
  overflow-y: auto;
  padding: 64px 120px 64px 120px;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
  text-decoration: none;
}

small {
  font-size: 80%;
}

main::-webkit-scrollbar,
html::-webkit-scrollbar,
body::-webkit-scrollbar,
.main-content::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}

main::-webkit-scrollbar:vertical,
html::-webkit-scrollbar:vertical,
body::-webkit-scrollbar:vertical,
.main-content::-webkit-scrollbar:vertical {
  background-color: rgba(9, 54, 59, 4);
}

html::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button:increment,
main::-webkit-scrollbar-button:increment,
.main-content::-webkit-scrollbar-button:increment,
html::-webkit-scrollbar-button,
body::-webkit-scrollbar-button,
main::-webkit-scrollbar-button,
.main-content::-webkit-scrollbar-button {
  display: none;
}

html::-webkit-scrollbar:horizontal,
body::-webkit-scrollbar:horizontal,
main::-webkit-scrollbar:horizontal,
.main-content::-webkit-scrollbar:horizontal {
  height: 10px;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb,
.main-content::-webkit-scrollbar-thumb {
  background-color: #afafaf80;
  border: none;
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover,
main::-webkit-scrollbar-thumb:hover,
.main-content::-webkit-scrollbar-thumb:hover {
  background-color: #afafafa6;
  border: none;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
main::-webkit-scrollbar-track,
.main-content::-webkit-scrollbar-track {
  border-radius: 10px;
}


@media (min-width: 769px) and (max-width: 1024px) {

  main{

    padding: 32px 24px 23px 24px;
  }
}

/* Estilos específicos para dispositivos móviles grandes (481px - 768px) */
@media (min-width: 360px) and (max-width: 768px) {

  main{

    padding: 32px 24px 23px 24px;
  }

}