<footer class="grid footer-container">
  <div class="col-12">
    <div class="title">FitHouse</div>
  </div>
  <p-divider class="divider w-full" />
  <div class="col-12">
    <div class="flex flex-wrap justify-content-between align-items-center">
      <div
        class="flex justify-content-start align-items-center align-content-center gap-1"
      >
        <img src="../../../assets/copyright.svg" alt="Copyright" />
        <small>2024 FitHouse. Todos los derechos reservados.</small>
      </div>
      <div class="social-networks-container">
        <img src="../../../assets/facebook.svg" alt="Facebook" />
        <img src="../../../assets/instagram.svg" alt="Instagram" />
        <img src="../../../assets/linkedin.svg" alt="Linkedin" />
      </div>
    </div>
  </div>
</footer>
